.dynamic-control-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.edit-view-fields .form-group .control-label {
    color: gray;
    font-weight: 600;
    font-size: 14px;
}

.comment-header {
    width: 100%;
    background-color: #f4f4f4;
    font-size: 14px;
    padding: 7px 10px;
}

.more-items-line-middle {
    width: 100%;
    border-bottom: 1px solid #eee;
    position: absolute;
    top: 11px;
    left: 0;
}

.btn-more-items {
    padding: 2px 5px;
    background-color: #fafafa;
    font-size: 11px;
}

.dropdown.exception-access-dropdown-menu {
    font-size: 20px;
    margin-right: 10px;
}

