<div class="keyword-list-container clearfix">
    <!-- Header -->
    <div class="sm-header clearfix">
        <div class="col-sm-3 p-0">
            <form class="input-group input-group-sm">
                <input type="text" class="form-control" data-ng-model="KeywordCtrl.ePage.Masters.Keywords.Keyword" placeholder="Keyword">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="{{KeywordCtrl.ePage.Masters.Keywords.AddBtnText}}" data-ng-disabled="KeywordCtrl.ePage.Masters.Keywords.IsDisableAddBtn"
                        data-ng-click="KeywordCtrl.ePage.Masters.Keywords.AddNewKeyword()" />
                </span>
            </form>
        </div>
        <div class="col-sm-9 pt-2">
            <button class="btn btn-default btn-sm mr-10" data-ng-click="KeywordCtrl.ePage.Masters.Keywords.Refresh()">Refresh</button>
        </div>
    </div>
    <!-- Body -->
    <div class="sm-content-wrapper clearfix">
        <div class="clearfix p-10">
            <div class="clearfix p-20 text-center" data-ng-if="!KeywordCtrl.ePage.Masters.Keywords.ListSource">
                <i class="fa fa-spin fa-spinner font-160"></i>
            </div>
            <div class="clearfix p-20 text-center" data-ng-if="KeywordCtrl.ePage.Masters.Keywords.ListSource && KeywordCtrl.ePage.Masters.Keywords.ListSource.length == 0">
                <i>No Records...!</i>
            </div>
            <span class="keyword" data-ng-repeat="x in KeywordCtrl.ePage.Masters.Keywords.ListSource" data-ng-if="KeywordCtrl.ePage.Masters.Keywords.ListSource && KeywordCtrl.ePage.Masters.Keywords.ListSource.length > 0">
                <span data-ng-bind="x.NewValue"></span>
                <i class="fa fa-close cursor-pointer ml-10" data-ng-click="KeywordCtrl.ePage.Masters.Keywords.DeleteKeyword(x, $index)"></i>
            </span>
        </div>
    </div>
</div>
