<div class="modal-header">
    <button type="button" class="close" data-ng-click="SMDocumentCtrl.ePage.Masters.CloseHistoryModal()">&times;</button>
    <h5 class="modal-title" id="modal-title">
        <strong>Deleted History</strong>
    </h5>
</div>
<div class="modal-body" id="modal-body">
    <div class="document-list-view-container clearfix">
        <ul class="clearfix">
            <li class="clearfix pt-5 pb-5" style="font-weight: bold; background-color: #ccc;">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="text-single-line">File Name</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="ext-single-line">Deleted By</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="text-single-line">Deleted On</div>
                </div>
            </li>
            <!--Loading-->
            <li class="clearfix p-20 text-center" data-ng-if="!SMDocumentCtrl.ePage.Masters.Header.DeleteAllHistoryList">
                <i class="fa fa-spin fa-spinner"></i>
            </li>
            <!-- No Records -->
            <li class="clearfix p-20 text-center" data-ng-if="SMDocumentCtrl.ePage.Masters.Header.DeleteAllHistoryList.length == 0">
                <i>No Records...!</i>
            </li>
            <li class="clearfix list pt-5 pb-5" data-ng-if="SMDocumentCtrl.ePage.Masters.Header.DeleteAllHistoryList && SMDocumentCtrl.ePage.Masters.Header.DeleteAllHistoryList.length > 0"
                data-ng-repeat="x in SMDocumentCtrl.ePage.Masters.Header.DeleteAllHistoryList">
                <div class="clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="text-single-line" data-ng-bind="x.FileName" title="{{x.FileName}}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="text-single-line" data-ng-bind="(x.CreatedBy == SMDocumentCtrl.ePage.Masters.UserId) ? 'Me' : x.CreatedBy" title="{{x.CreatedBy}}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="text-single-line " data-ng-bind="x.CreatedDateTime | date: 'dd-MMM-yy h:mm a'" title="{{x.CreatedDateTime | date: 'dd-MMM-yy h:mm a'}}"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
