 <!-- Registration Popup -->
  <!-- Modal -->
  <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="bg-image" style="background-image: url(images/RegistrationBanner.png);"></div>
            </div>
            <div class="col-lg-12 p-5">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <small>CLOSE </small><span aria-hidden="true">&times;</span>
              </button>
              <h1 class="mb-4">Admission Form</h1>
              <div class="well">
                <h3>Personal Details</h3>
              </div>
              <form action="#" method="post">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="m_fname">Your Name</label>
                    <input type="text" class="form-control" id="m_fname" ng-model="Student.MSD_NAME">
                    </div>
                  <div class="col-md-6 form-group">
                    <label for="m_lname">Father Name</label>
                    <input type="text" class="form-control" id="m_lname" ng-model="Student.MSD_FATHERNAME">
                  </div>
                </div>
                <div class="row">
                  <div class='col-md-6'>
                    <div class="form-group">
                      <label for="m_date">DOB</label>
                      <input type="text" class="form-control" id="m_date" ng-model="Student.MSD_DOB">
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="m_people">Gender</label>
                    <select name="" id="m_people" class="form-control" ng-model="Student.MSD_GENDER">
                      <option value="">-</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                      <option value="T">Transgender</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="m_fname">Contact #</label>
                    <input type="text" class="form-control numbers-only" ng-model="Student.MSD_PRIMARYMOBILE" id="m_phone">
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="m_lname">Alternate Contact #</label>
                    <input type="text" class="form-control" ng-model="Student.MSD_ALTMOBILE" id="m_phone">
                  </div>
                </div>
                <div class="row">
                  <div class='col-md-12'>
                    <div class="form-group">
                      <label for="m_date">Email-ID</label>
                      <input type="email" class="form-control" ng-model="Student.MSD_EMAIL" id="m_email">
                    </div>
                  </div>
                </div>
                <div class="well">
                  <h3>Address Details</h3>
                </div>
                <div class="row">
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Door #, Street
                      <input type="text" ng-model="Student.MSD_STREETADRS" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-6 form-group '>
                    <label for="m_date">Locality
                      <input type="text" ng-model="Student.MSD_LOCALITY" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-6 form-group '>
                    <label for="m_date">State
                      <input type="text" ng-model="Student.MSD_STATE" class="form-control" id="m_email"></label>></label>
                  </div>
                  <div class='col-md-6 form-group '>
                      <label for="m_date">Potal PIN
                        <input type="text" ng-model="Student.MSD_PIN" class="form-control" id="m_email"></label>></label>
                    </div>
                </div>
                <div class="well">
                  <h3>Educational Details</h3>
                </div>
                <div class="row">
                  <div class='col-md-4 form-group'>
                    <label for="m_date">SSC
                      <input type="checkbox" ng-model="Student.MSD_IsSSC" class="checkbox" id="m_email" data-ng-change="SSC();"></label>
                  </div>
                  <div class='col-md-4 form-group '>
                    <label for="m_date">HSC
                      <input type="checkbox" ng-model="Student.MSD_IsHSC" class="checkbox" id="m_email" data-ng-change="SSC();"></label>
                  </div>
                  <div class='col-md-4 form-group '>
                    <label for="m_date">UG<input type="checkbox" ng-model="Student.MSD_IsUG" class="checkbox" id="m_email"
                        data-ng-change="SSC();"></label>
                  </div>
                </div>
                <div class="row" data-ng-if="Student.MSD_IsSSC">
                  <div class='col-md-12 form-group'>
                    <h4>SSC Details</h4>
                  </div>
                  <div class='col-md-4 form-group'>
                    <label for="m_date">Qualification
                      <input type="text" disabled="true" ng-model="Student.MSD_EDU1QUAL" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-4 form-group'>
                    <label for="m_date">Medium
                      <select name="" id="m_people" class="form-control" ng-model="Student.MSD_EDU1MED">
                        <option value="">-</option>
                        <option value="T">Tamil</option>
                        <option value="E">English</option>
                      </select>
                  </div>
                  <div class='col-md-4 form-group'>
                    <label for="m_date">Board
                      <select name="" id="m_people" class="form-control" ng-model="Student.MSD_EDU1BOARD">
                        <option value="">-</option>
                        <option value="SB">State Board</option>
                        <option value="CBSE">CBSE</option>
                        <option value="INT">International</option>
                      </select>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Passed Out
                      <input type="text" numbers-only ng-model="Student.MSD_EDU1YEAR" class="form-control" id="m_email"
                        maxlength="4"></label>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Percentage (%)</label>
                    <Span><input type="text" numbers-only ng-model="Student.MSD_EDU1PERCENTAGE" class="form-control" id="m_email"
                        maxlength="3"></Span>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">School Name
                      <input type="text" ng-model="Student.MSD_EDU1SCHOOL" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">City
                      <input type="text" ng-model="Student.MSD_EDU1CITY" class="form-control" id="m_email"></label>
                  </div>
                </div>
                <div class="row" data-ng-if="Student.MSD_IsHSC">
                  <div class='col-md-12 form-group'>
                    <h4>HSC Details</h4>
                  </div>
                  <div class='col-md-4 form-group'>
                    <label for="m_date">Qualification
                      <input type="text" disabled="true" ng-model="MSD_EDU2QUAL" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-4 form-group'>
                    <label for="m_date">Medium
                      <select name="" id="m_people" class="form-control" ng-model="MSD_EDU2MED">
                        <option value="">-</option>
                        <option value="T">Tamil</option>
                        <option value="E">English</option>
                      </select>
                  </div>
                  <div class='col-md-4 form-group'>
                    <label for="m_date">Board
                      <select name="" id="m_people" class="form-control" ng-model="MSD_EDU2BOARD">
                        <option value="">-</option>
                        <option value="SB">State Board</option>
                        <option value="CBSE">CBSE</option>
                        <option value="INT">International</option>
                      </select>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Passed Out
                      <input type="text" numbers-only ng-model="MSD_EDU2YEAR" class="form-control" id="m_email"
                        maxlength="4"></label>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Percentage (%)</label>
                    <Span><input type="text" numbers-only ng-model="MSD_EDU2PERCENTAGE" class="form-control" id="m_email"
                        maxlength="3"></Span>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">School Name
                      <input type="text" ng-model="MSD_EDU2SCHOOL" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">City
                      <input type="text" ng-model="MSD_EDU2CITY" class="form-control" id="m_email"></label>
                  </div>
                </div>
                <div class="row" data-ng-if="Student.MSD_IsUG">
                  <div class='col-md-12 form-group'>
                    <h4>UG Details</h4>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Qualification
                      <input type="text" ng-model="MSD_EDU3QUAL" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Stream
                      <select name="" id="m_people" class="form-control" ng-model="MSD_EDU3MED">
                        <option value="">-</option>
                        <option value="T">Tamil</option>
                        <option value="E">English</option>
                      </select>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Passed Out
                      <input type="text" numbers-only ng-model="MSD_EDU3YEAR" class="form-control" id="m_email"
                        maxlength="4"></label>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">Percentage (%)</label>
                    <Span><input type="text" numbers-only ng-model="MSD_EDU3PERCENTAGE" class="form-control" id="m_email"
                        maxlength="3"></Span>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">College Name
                      <input type="text" ng-model="MSD_EDU3SCHOOL" class="form-control" id="m_email"></label>
                  </div>
                  <div class='col-md-6 form-group'>
                    <label for="m_date">City
                      <input type="text" ng-model="MSD_EDU3CITY" class="form-control" id="m_email"></label>
                  </div>
                </div>
                <div class="row">
                    <div class='col-md-12 form-group'>
                      <h4>Other Details</h4>
                    </div>
                    <div class='col-md-6 form-group'>
                      <label for="m_date">Achievements
                        <input type="text" ng-model="Student.MSD_ACHIEVEMENTS" class="form-control" id="m_email"></label>
                    </div>
                    <div class='col-md-6 form-group'>
                      <label for="m_date">Comments
                        <input type="text" ng-model="Student.MSD_COMMENTS" class="form-control" id="m_email"></label>
                    </div>
                    <div class='col-md-6 form-group'>
                      <center>
                        <label for="m_date">Upload Photo</label>
                        <div class="mb-4">
                          <div class="file-field">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="rounded-circle z-depth-1-half avatar-pic"
                              alt="example placeholder avatar" height="120px" width="120px">
                          </div>
                          <div class="d-flex justify-content-center">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                              <input type="file">
                            </div>
                          </div>
                        </div>
                      </center>
                    </div>
                  <div class='col-md-6 form-group'>
                    <center>
                      <label for="m_date">Upload ID Proof</label>
                      <div class="mb-4">
                        <div class="file-field">
                          <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="rounded-circle z-depth-1-half avatar-pic"
                            alt="example placeholder avatar" height="120px" width="120px">
                        </div>
                        <div class="d-flex justify-content-center">
                          <div class="btn btn-mdb-color btn-rounded float-left">
                            <input type="file">
                          </div>
                        </div>
                      </div>
                    </center>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" ng-click="Register();" value="Register Now">
          </div>
        </div>

        </form>
      </div>
    </div>

  </div>