<div class="clearfix mt-10 no-padding">
    <div class="col-lg-12 no-padding">
        <div class="col-lg-6 mt-8 no-padding" data-ng-if="ViewDocumentCtrl.ePage.Masters.Document.ListSource" data-ng-repeat="x in ViewDocumentCtrl.ePage.Masters.Document.TempListDocument">
            <div class="brc" title="{{x.FileName}}" role="listitem" jsaction="lkS8Jd">
                <img data-ng-if="x.ContentType=='image/png' || x.ContentType=='image/jpeg'" class="brf" aria-hidden="true" src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_image_x16.png">
                <img data-ng-if="x.ContentType=='text/plain'" class="brf" aria-hidden="true" src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_text_x16.png">
                <img data-ng-if="x.ContentType=='application/pdf'" class="brf" aria-hidden="true" src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_3_pdf_x16.png">
                <img data-ng-if="x.ContentType=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" class="brf" aria-hidden="true"
                    src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_excel_x16.png">
                <img data-ng-if="x.ContentType=='application/vnd.openxmlformats-officedocument.wordprocessingml.document'" class="brf" aria-hidden="true"
                    src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_word_x16.png">
                <img data-ng-if="x.ContentType=='application/vnd.openxmlformats-officedocument.presentationml.presentation'" class="brf"
                    aria-hidden="true" src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_powerpoint_x16.png">
                <span class="brg">{{x.FileName}}</span>
            </div>
        </div>
        <div class="col-lg-6 mt-8" data-ng-if="ViewDocumentCtrl.ePage.Masters.RemainingCount>0">
            <div class="document-count">
                <i class="fa fa-plus"></i>
                <span data-ng-bind="ViewDocumentCtrl.ePage.Masters.RemainingCount">
                </span>
            </div>
        </div>
    </div>
</div>
<!-- <div data-ng-if="appConfig.IsDocumentUploaded==true" data-ng-init="ViewDocumentCtrl.ePage.Masters.GetDocumentList()"></div> -->