.task-instance-wrapper {
    padding-left: 130px;
    position: relative;
}

.task-instance-wrapper .instance-start {
    position: absolute;
    top: 45px;
    left: 15px;
    width: 131px;
    height: 80px;
    border: 1px solid transparent;
    display: table;
}

.task-instance-wrapper .instance-start .left {
    display: table-cell;
}

.task-instance-wrapper .instance-start .left .round {
    width: 78px;
    height: 78px;
    border: 1px solid #e8e3e3;
    background-color: #e1ffe1;
    border-radius: 100%;
    text-align: center;
    line-height: 5.7;
}

.task-instance-wrapper .instance-start .right {
    width: 53px;
    display: table-cell;
}

.task-instance-wrapper .instance-start .right .line {
    border-top: 1px solid #3767bb;
    border-bottom: 1px solid transparent;
}

.task-instance-container {
    padding: 0 15px;
    width: 260px;
}

.task-instance-container .instance-header {
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: -22px;
    margin-top: 15px;
    width: 200px;
    position: relative;
}

.task-instance-container .instance-header .instance-title {
    position: absolute;
    top: 75px;
    left: -138px;
    font-size: 13px;
    width: 135px;
    text-align: center;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.task-instance-container .instance-header .instance-title span {
    background-color: #fff;
    color: #3767bb;
}

.instance-repeat-container {
    padding-left: 130px;
}

.instance-repeat-container .inner-container {
    border-left: 1px solid #3767bb;
    padding-left: 50px;
}

.instance-connector {
    height: 20px;
}

.instance-connector .left {
    border-right: 1px solid transparent;
    height: 100%;
}

.instance-connector .right {
    border-left: 1px solid #3767bb;
    height: 100%;
}

.task-instance-container .instance {
    border: 1px solid #e8e3e3;
    padding: 30px 10px;
    min-width: 200px;
    border-radius: 15px;
    position: relative;
    display: flex;
}

.task-instance-container .instance .instance-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    width: 100%;
    color: #aaa;
}

.task-instance-container .instance .instance-name-container {
    margin: 0 auto;
}

.task-instance-container .instance .instance-name-container .step-name {
    display: inline-block;
    position: relative;
    top: 2px;
}

.task-instance-container .instance .instance-name-container .step-name i {
    margin-right: 5px;
    color: #ff7878;
}

.task-instance-container .instance .instance-no {
    position: absolute;
    bottom: 2px;
    left: 0;
    font-size: 11px;
    width: 100%;
    color: #aaa;
}
