<div class="clearfix">
    <div class="task-instance-wrapper"  data-ng-if="TaskCtrl.ePage.Masters.Task.Process.ListSource">
        <div class="instance-start">
            <div class="left">
                <div class="round">Start</div>
            </div>
            <div class="right">
                <div class="line"></div>
            </div>
        </div>
        <div data-ng-repeat="member in TaskCtrl.ePage.Masters.Task.Process.ListSource" data-ng-include src="'taskInstance'"></div>
    </div>
</div>

<script id="taskInstance" type="text/ng-template">
    <div class="clearfix">
        <div class="task-instance-container">
            <div class="clearfix instance-header" data-ng-if="$parent.$index==0">
                <div class="text-center pt-5 pb-5" data-ng-bind="member.PSM_ProcessName"></div>
                <span class="instance-title" data-ng-if="member.WSR_ActionType == 'CHILD' || member.WSR_ActionType == 'EXTERNAL'">
                    <span data-ng-bind="(member.WSR_ActionType == 'CHILD') && 'Wait for Condition' || (member.WSR_ActionType == 'EXTERNAL') && 'External'"></span>
                </span>
            </div>
            <div class="clearfix">
                <div class="instance-connector" data-ng-if="member.WSI_StepNo != 1">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 left"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 right"></div>
                </div>
                <div class="instance-connector" data-ng-if="member.WSI_StepNo == 1"></div>
                <div class="clearfix instance" data-ng-style="member.Status=='COMPLETED' &&  {'background-color':'#e1ffe1'} || member.Status=='AVAILABLE' && {'background-color': '#ffffcf'}">
                    <div class="clearfix instance-icon">
                        <i data-ng-if="member.WSI_StepNo==1" class="fa fa-tasks"></i>
                    </div>
                    <div class="clearfix instance-name-container">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="text-single-line">
                                <!-- <span ng-if="member.Status=='COMPLETED' && member.WSI_StepNo" class="badge badge-success" style="display: inline-block; margin-right: 5px;"
                                    data-ng-bind="member.WSI_StepNo"></span>
                                <span ng-if="member.Status=='AVAILABLE' && member.WSI_StepNo" class="badge badge-warning" style="display: inline-block; margin-right: 5px;"
                                    data-ng-bind="member.WSI_StepNo"></span>
                                <span ng-if="member.Status!='COMPLETED' && member.Status!='AVAILABLE' && member.WSI_StepNo" class="badge badge-default"
                                    style="display: inline-block; margin-right: 5px;" data-ng-bind="member.WSI_StepNo"></span> -->
                                <span class="step-name" title="{{member.StepName}}" data-ng-bind="member.StepName" data-ng-if="member.StepType != 'END'"></span>
                                <span class="step-name" title="{{member.StepName}}" data-ng-if="member.StepType == 'END'">
                                    <i class="fa fa-square"></i> {{member.StepName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix instance-no" data-ng-if="(member.PSI_InstanceNo || member.KeyReference) && member.WSI_StepNo == 1">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span data-ng-if="member.WSI_StepNo==1.00" data-ng-bind="member.PSI_InstanceNo"></span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right" data-ng-bind="member.KeyReference"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instance-repeat-container">
        <div data-ng-if="member.Processes.Process.length>0" class="inner-container">
            <div data-ng-repeat="member in member.Processes.Process" data-ng-include src="'taskInstance'"></div>
        </div>
    </div>
</script>
