.email-template-creation-container {
    padding: 10px;
}

.email-template-creation-container textarea.email-template-creation-editor {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px 9px;
    box-shadow: none;
    border: 0;
    min-height: calc(100vh - 125px);
    min-height: -webkit-calc(100vh - 125px);
    min-height: -moz-calc(100vh - 125px);
}

.email-template-creation-container .ta-scroll-window>.ta-bind {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 125px);
    min-height: -webkit-calc(100vh - 125px);
    min-height: -moz-calc(100vh - 125px);
}
