.rows {
	width: 100%;
	float: left;
	position: relative;
}

.mail-container .mail-body {
	margin-left: 0 !important;
}

.eaxis-logo {
	color: #fff;
	float: left;
	font-size: 20px;
	padding: 11px 15px;
	display: none;
}

.eaxis-logo-text {
	float: left;
}

.eaxis-main-nav {
	height: 48px;
	font-size: 24px;
	position: absolute;
	top: 0;
	right: 0px;
	padding: 6px 10px 0 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	color: #fff;
	z-index: 99;
	display: none;
}

.eaxis-main-nav:focus {
	color: #fff;
}

.eaxis-tab-box {
	width: 100%;
	background: #313949;
}

.eaxis-top-strip {
	height: 48px;
	background: #313949;
	display: none;
}

.eaxis-tab-box>.nav-tabs {
	background-color: #313949 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.eaxis-tab-box>.nav-tabs>li {
	margin-bottom: 0px;
}

.eaxis-tab-box>.nav-tabs>li>a {
	padding: 15px 20px;
	border: 0 !important;
	background: transparent !important;
	border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.eaxis-tab-box>.nav-tabs>li:first-child>a {
	border-left: 0;
}

.eaxis-tab-box>.nav-tabs>li>a,
.eaxis-tab-box>.nav-tabs>li>a:focus {
	line-height: 18px;
	margin: 0;
	color: #fff !important;
}

.eaxis-tab-box>.nav-tabs>li>a:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
}

.eaxis-tab-box>.nav-tabs>li.active>a,
.eaxis-tab-box>.nav-tabs>li.active>a:hover,
.eaxis-tab-box>.nav-tabs>li.active>a:focus {
	color: #fff !important;
	border: 0;
	border-top: 0;
	border-bottom-color: transparent;
	background-color: rgba(255, 255, 255, 0.2) !important;
	margin: 0;
	box-shadow: none !important;
	line-height: 18px;
}

.eaxis-tab-box>.tab-content {
	padding: 0;
	background-color: #fff;
	box-shadow: none;
}

.grid-view {
	padding: 10px;
}

.eaxis-btn {
	border: 0;
	background: transparent !important;
	color: #fff !important;
	padding: 15px 20px;
	border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.pinned-tab {
	color: #d71921 !important;
	position: absolute !important;
	z-index: 10 !important;
	top: 10px !important;
	right: 5px !important;
}

.dynamic-list-page-header {
	background: transparent !important;
}


/*** Tab-2 ***/

.eaxis-tab-box-2>.nav-tabs {
	background-color: #fff !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.eaxis-tab-box-2>ul {
	float: left;
	width: 200px;
	height: 575px;
	border-right: 1px solid #ddd;
}

.eaxis-select-ship {
	width: 100%;
	float: left;
	font-size: 18px;
	padding: 6px 15px;
	position: relative;
	border-bottom: 1px solid #ddd;
	display: none;
}

.eaxis-div-nav {
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0px;
	padding: 4px 7px;
	background: #fff;
	z-index: 1;
	display: none;
	z-index: 9;
}

.eaxis-tab-box-2>.nav-tabs>li {
	width: 100%;
	float: left;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 0px;
}

.eaxis-tab-box-2>.nav-tabs>li>a {
	padding: 12px 15px !important;
	border: 0 !important;
	border-left: 2px solid #fff !important;
	text-align: left !important;
	font-size: 13px !important;
	color: #737373 !important;
}

.eaxis-tab-box-2>.nav-tabs>li:first-child>a {
	border-left: 0;
}

.eaxis-tab-box-2>.nav-tabs>li>a:hover {
	border-left: 2px solid #d71921 !important;
	background: #fbfbfb !important;
}

.eaxis-tab-box-2>.nav-tabs>li>a span {
	margin-left: 5px;
}

.eaxis-tab-box-2>.nav-tabs>li>a,
.eaxis-tab-box-2>.nav-tabs>li>a:focus {
	line-height: 16px;
	margin: 0 !important;
	color: #737373;
}

.eaxis-tab-box-2>.nav-tabs>li.active>a,
.eaxis-tab-box-2>.nav-tabs>li.active>a:hover,
.eaxis-tab-box-2>.nav-tabs>li.active>a:focus {
	color: #000;
	border: 0;
	border-top: 0;
	border-left: 2px solid #d71921 !important;
	border-bottom-color: transparent;
	background-color: #fbfbfb !important;
	margin: 0 !important;
	box-shadow: none !important;
	position: relative;
}

.eaxis-tab-box-2>.nav-tabs>li.active>a:after {
	font-family: "FontAwesome";
	content: "\f105";
	position: absolute;
	top: 13px;
	right: 20px;
	color: #d71921;
}

.eaxis-tab-box-2>.tab-content {
	padding: 0px;
	background-color: #fff;
	box-shadow: none;
}


/*** Tab-3 ***/

.eaxis-tab-box-3>.nav-tabs {
	background-color: #fff !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-bottom: 1px solid #ddd;
}

.eaxis-tab-box-3>.nav-tabs.nav-justified {
	margin-bottom: 0px !important;
}

.eaxis-tab-box-3>.nav-tabs>li>a {
	font-size: 15px;
	padding: 12px 10px !important;
	margin: 0 20px !important;
	border: 0 !important;
}

.eaxis-tab-box-3>.nav-tabs>li:first-child>a {
	border-left: 0;
}

.eaxis-tab-box-3>.nav-tabs>li>a:hover {
	border-bottom: 2px solid #d71921 !important;
}

.eaxis-tab-box-3>.nav-tabs>li>a,
.eaxis-tab-box-3>.nav-tabs>li>a:focus {
	line-height: 16px;
	margin: 0;
	color: #1f497d !important;
}

.eaxis-tab-box-3>.nav-tabs>li.active>a,
.eaxis-tab-box-3>.nav-tabs>li.active>a:hover,
.eaxis-tab-box-3>.nav-tabs>li.active>a:focus {
	color: #000 !important;
	border: 0;
	border-bottom: 2px solid #e46d0a !important;
	border-left: 0 !important;
	border-bottom-color: transparent;
	background-color: #fff !important;
	margin-bottom: 0px;
	box-shadow: none !important;
	margin: 0;
}

.eaxis-tab-box-3>.tab-content {
	padding: 0px;
	background-color: #fff;
	box-shadow: none;
}

.eaxis-tab-box-3>.panel-group>.panel-default {
	border-color: transparent !important;
}

.eaxis-tab-box-3>.panel-group>.panel-default>.panel-heading {
	background-color: #f4f4f4 !important
}

.eaxis-tab-box-3>.panel-group>.panel-default>.panel-collapse>.panel-body {
	padding: 0;
}

.eaxis-div-box {
	width: 100%;
	float: left;
}

.height-200 {
	height: 200px;
}

.height-300 {
	height: 300px;
}

.height-400 {
	height: 400px;
}

.height-600 {
	height: 600px;
}

.border-r {
	border-right: 1px solid #ddd;
}

.border-l {
	border-left: 1px solid #ddd;
}

.border-t {
	border-top: 1px solid #ddd;
}

.border-b {
	border-bottom: 1px solid #ddd;
}

.border-blue {
	border: 1px solid #4385f5;
}

.border-radius-3{
	border-radius: 3px;
}

.eaxis-show-more {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	padding-right: 15px;
}

.eaxis-header {
	font-size: 16px;
	position: relative;
	padding: 9px 0px;
	color: #1f497d;
}

.eaxis-header span {
	border-bottom: 3px solid #4caf50;
	padding-bottom: 2px;
}

.fa-18x {
	font-size: 18px;
}

.eaxis-edit {
	position: absolute;
	top: 5px;
	right: 15px;
	padding: 5px 10px;
	background: #fff;
	color: #000;
	font-size: 12px;
	border: 1px solid #f0f0f0;
}

.eaxis-edit-2 {
	color: #000;
	font-size: 15px;
	margin-left: 10px;
}

.eaxis-ship-list {
	width: 100%;
	float: left;
	margin-top: 15px;
}

.eaxis-ship-list ul {
	margin: 0;
	padding: 0;
}

.eaxis-ship-list li {
	width: 100%;
	float: left;
	list-style: none;
	margin-bottom: 15px;
}

.eaxis-ship-list li span,
.eaxis-ship-list li b {
	width: 50%;
	float: left;
	color: #666;
}

.eaxis-ship-list li span {
	color: #999;
}

.eaxis-record,
.eaxis-order-attachment,
.eaxis-label,
.eaxis-value {
	width: 100%;
	float: left;
}

.eaxis-record {
	margin-top: 10px;
	margin-bottom: 20px;
}

.show-more {
	cursor: pointer;
	color: #337ab7;
}

.show-more-height {
	height: 120px;
	overflow: hidden;
}

.height-auto-200,
.height-auto-400,
.height-auto-600 {
	overflow-y: auto;
}

.height-auto-200 {
	height: 200px;
}

.height-auto-400 {
	height: 400px;
}

.height-auto-600 {
	height: 550px;
}

.eaxis-label {
	color: #999;
}

.height-auto-200::-webkit-scrollbar,
.height-auto-400::-webkit-scrollbar,
.height-auto-600::-webkit-scrollbar {
	width: auto;
}

.height-auto-200::-webkit-scrollbar-track,
.height-auto-400::-webkit-scrollbar-track,
.height-auto-600::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(204, 204, 204, 0.3);
}

.height-auto-200::-webkit-scrollbar-thumb,
.height-auto-400::-webkit-scrollbar-thumb,
.height-auto-600::-webkit-scrollbar-thumb {
	background-color: #fbfbfb;
	outline: 1px solid slategrey;
}

.eaxis-value {
	font-weight: bold;
	color: #666;
}

.eaxis-company-header {
	position: relative;
	background: #fff;
	padding: 16px 30px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.eaxis-company-title {
	font-size: 16px;
	font-weight: bold;
}

.eaxis-company-title-2,
.eaxis-company-title-3 {
	color: #069;
	margin-top: 9px;
}

.eaxis-company-title-2 {
	font-size: 14px;
}

.eaxis-company-title-3 {
	font-size: 16px;
	/* text-transform: lowercase; */
}

.eaxis-company-title-4 {
	font-size: 14px;
	/* text-transform: lowercase; */
}

.eaxis-address {
	font-size: 12px;
	color: #333;
}

.companies-box {
	width: 100%;
	float: left;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
}

.companies-box:hover {
	background: #f4f4f4;
}

.companies-left {
	width: 16%;
	float: left;
}

.companies-left span {
	width: 40px;
	height: 40px;
	float: left;
	color: #000;
	font-weight: 600;
	text-align: center;
	border-radius: 50%;
	padding-top: 10px;
}

.color-1 {
	background: #25253c;
}

.color-2 {
	background: #32bd97;
}

.color-3 {
	background: #7e842c;
}

.color-4 {
	background: #c57e8b;
}

.color-5 {
	background: #f4b400;
}

.companies-right {
	width: 83%;
	float: left;
}

.company-sub-title {
	width: 100%;
	float: left;
	color: #999;
	font-size: 12px;
	margin-top: 5px;
	position: relative;
}

.company-sub-title span {
	width: 85%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.company-sub-title a {
	position: absolute;
	top: -4px;
	right: 5px;
	font-size: 15px;
	color: #000;
}

.company-list {
	width: 100%;
	float: left;
}

.company-list ul {
	margin: 0;
	padding: 0;
}

.company-list li {
	width: 100%;
	float: left;
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	position: relative;
}

.company-list li:hover {
	background: #f4f4f4;
}

.company-list li a {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 15px;
	color: #000;
}

.company-name {
	width: 25%;
	float: left;
}

.company-name span {
	width: 50px;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-top: 8px;
}

.company-desc {
	width: 75%;
	float: left;
}

.company-desc b {
	width: 100%;
	float: left;
}

.company-desc span {
	width: 100%;
	float: left;
	color: #999;
}

.mt-5 {
	margin-top: 5px;
}

.mt-6 {
	margin-top: 6px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.bt-0 {
	border-top: 0 !important;
}

.bb-0 {
	border-bottom: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pr-5 {
	padding-right: 5px;
}

.eaxis-footer-strip {
	width: 100%;
	height: 40px;
	background-color: #f0f0f0;
	position: fixed;
	bottom: 20px;
	left: 0;
	z-index: 200;
	border-top: 1px solid #aaa;
}

.eaxis-footer-left {
	float: left;
}

.eaxis-footer-left ul {
	margin: 0;
	padding: 0;
}

.eaxis-footer-left li {
	/* width: 14.28%; */
	float: left;
	list-style: none;
}

.eaxis-footer-left li a {
	width: 100%;
	float: left;
	padding: 4px 20px;
	color: #3a3333;
	;
	margin-right: 5px;
	/* border-top: 2px solid #333A45; */
	border-top: 1px solid #aaa;
	margin-top: -1px;
}

.eaxis-footer-left li a:hover {
	color: #d71921;
	border-top: 1px solid #d71921;
}

.eaxis-footer-left li a .eaxis-footer-icon,
.eaxis-footer-left li a .eaxis-footer-text {
	width: 100%;
	float: left;
	text-align: center;
}

.eaxis-footer-left li .eaxis-hints {
	float: left;
	padding: 11px 10px;
	border-left: 1px solid #ccc;
	color: #999;
}

#myModal {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.modal-dialog {
	/* width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	margin-top: 49px; */
}

.modal-content {
	height: 100%;
	border-radius: 0;
}

.modal-popup-content {
	padding: 10px;
}

@media only screen and (max-width: 767px) {
	.eaxis-top-strip {
		display: block;
	}
	.eaxis-main-nav,
	.eaxis-logo {
		display: block;
	}
	.topmenu>.nav-tabs {
		display: none;
	}
	.eaxis-div-nav {
		display: block;
	}
	.eaxis-div {
		width: 100% !important;
	}
	.eaxis-tab-box>.nav-tabs {
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0;
		z-index: 99;
	}
	.eaxis-tab-box>.nav-tabs>li {
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.eaxis-edit {
		right: 0;
	}
	.eaxis-select-ship {
		display: block;
	}
	.eaxis-tab-box-2>.tab-content {
		padding: 0px;
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}
	.eaxis-tab-box-2>.nav-tabs>li {
		width: 201px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
		background: #313949;
	}
	.eaxis-tab-box-2>.nav-tabs>li>a {
		background-color: #313949 !important;
		color: #fff !important;
	}
	.eaxis-tab-box-2>.nav-tabs>li>a,
	.eaxis-tab-box-2>.nav-tabs>li>a:focus {
		color: #fff;
	}
	.eaxis-tab-box-2>.nav-tabs>li.active>a,
	.eaxis-tab-box-2>.nav-tabs>li.active>a:hover,
	.eaxis-tab-box-2>.nav-tabs>li.active>a:focus {
		background-color: #d71921 !important;
		color: #fff !important;
	}
	.eaxis-tab-box-2>.nav-tabs>li.active>a:after {
		color: #fff !important;
	}
	.eaxis-tab-box-2>ul {
		height: 100%;
		position: fixed;
		top: 48px;
		left: 0;
		width: 202px;
		z-index: 11;
		display: none;
		float: none;
	}
	.eaxis-div-box {
		height: auto;
		border-right: 0px solid #ddd;
		border-bottom: 1px dotted #ddd;
	}
	.eaxis-footer-left li a {
		padding: 13px 12px;
		margin-right: 0px;
		border-top: 0px solid #ccc;
		border-right: 1px solid #ccc;
		margin-top: 0px;
	}
	.eaxis-label,
	.eaxis-value {
		width: 50%;
	}
	.eaxis-footer-left li a .eaxis-footer-text,
	.eaxis-footer-left li .eaxis-hints {
		display: none;
	}
	
	.task-date-des {
		text-align: left;
		margin-top: 8px;
		border-left: 1px solid #ccc;
		padding-left: 20px;
	}
	.task-date-time-box {
		width: auto;
	}
}

@media only screen and (max-width: 480px) {
	.task-date-time-box {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {
	.task-list-des-title {
		font-size: 11px;
	}
}

@media only screen and (max-width: 1024px) {
	.task-date-time-box {
		width: 100%;
	}
	.task-date-time-box>.task-slash-hide {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.audit-log-nav {
		height: auto;
		border-right: 0;
	}
	.task-ob-btn {
		width: 65px;
	}
}


/******** Organization ***********/

.eaxis-org-box {
	width: 100%;
	float: left;
	border: 1px solid #bbb;
	padding: 5px;
	position: relative;
}

.eaxis-rows {
	width: 100%;
	float: left;
	clear: both;
}

.eaxis-org-state-circle {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	color: #fff;
	text-align: center;
	padding-top: 10px;
}

.eaxis-org-p-m-g-f {
	width: 80%;
	float: right;
	font-size: 11px;
}

.eaxis-org-pmgf-com {
	width: 100%;
	float: left;
	position: relative;
	text-align: right;
	padding-right: 20px;
	line-height: 1.7;
}

.eaxis-org-pmgf-com i {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 3px;
	right: 0;
	text-align: center;
	color: #ccc;
}

.eaxis-org-com {
	width: 100%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	padding-right: 35px;
}

.org-edit-delete,
.org-edit-delete-2 {
	position: absolute;
	bottom: 5px;
}

.org-edit-delete {
	right: 5px;
}

.org-edit-delete-2 {
	left: 5px;
}

.org-edit-icon,
.org-delete-icon {
	color: #aaa;
	font-size: 16px;
	margin-left: 5px;
}

.eaxis-org-nd {
	width: 80%;
	float: left;
	font-size: 11px;
}

.eaxis-org-hexagon {
	width: 40px;
	height: 40px;
	float: right;
	border-radius: 50%;
	overflow: hidden;
	color: #fff;
	text-align: center;
	padding-top: 10px;
}

.eaxis-org-name {
	width: 100%;
	float: left;
	padding-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 16px;
}

.dynamic-control .form-group .control-label {
	color: gray;
	font-weight: 600;
	font-size: 14px;
}
