.event {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.event>li {
    width: 100%;
    float: left;
    position: relative;
    list-style: none;
}

.event-date {
    width: 100px;
    padding: 2px 10px 4px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    background: #4385f5;
    color: #fff;
}

.event>li>.event-panel {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px 0 5px 5px;
    padding: 5px;
    position: relative;
    float: left;
    margin: 10px 0px;
}

.event>li>.event-panel:after {
    position: absolute;
    top: 0px;
    right: -10px;
    display: inline-block;
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #f5f5f5;
    border-style: solid;
    content: " ";
}

.event-header {
    width: 100%;
    float: left;
    padding: 0 5px;
}

.event-body {
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    margin-top: 5px;
}

.event-body-list{
    padding: 5px 10px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 11px;
    color: #aaa4a4;
}