.sm-audit-log-container .audit-log-search {
    padding: 5px 10px;
}

.sm-audit-log-container .audit-log-search input[type="text"] {
    width: 300px;
    float: right;
}

.sm-audit-log-container .audit-list-container .audit-log-date {
    font-size: 20px;
    padding: 0 10px;
    margin-top: 10px;
    color: #666;
    font-family: "Times New Roman";
}

.sm-audit-log-container .audit-list-container .audit-list {
    padding: 0 10px 10px 10px;
}

.sm-audit-log-container .audit-list-container .audit-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.sm-audit-log-container .audit-list-container .audit-list li .date-time {
    color: #999;
}

.sm-audit-log-container .audit-list-container .audit-list li .audit-txt {
    color: #888;
}
