<table style="width:100%; background:#f4f4f4; padding:15px 0;">
    <tr>
        <td>
            <table width="640" cellspacing="0" cellpadding="0" style="font:12px/16px Arial,sans-serif;color:#333;background-color:#fff;margin:0 auto">
                <tbody>
                    <tr>
                        <td style="text-align:left;padding:0px 20px">
                            <table cellspacing="0" cellpadding="0" style="font:12px/16px Arial,sans-serif;color:#333;margin:0 auto;border-collapse:collapse">
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;padding:7px 20px 5px 0px;border-bottom:1px solid rgb(204,204,204);width:490px">
                                            <span style="font:13px Arial,san-serif;font-weight:bold;">
                                                <!-- <xsl:value-of select="TaskSubject" /> -->
                                                VESSEL REQUIRED - VESSEL PLANNING
                                            </span>
                                        </td>
                                        <td />
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td valign="top" style="padding:24px 20px 10px 0px;width:100px;border-collapse:collapse;">
                            <a href="http://www.20cube.com/" target="_blank">
                                <img src="http://idocket.20cube.com/img/logo-png.png" style="height:50px;margin-left: 14px;" alt="" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:640px" colspan="2">
                            <p style="font:18px Arial,sans-serif;color:#da2128;margin:15px 20px 0 20px">
                                Dear Supplier.,


                            </p>
                            <p style="margin:4px 20px 18px 20px;width:640px">
                                Wishes from 20Cube Logistics. The below PO(s) are from {{obj.RowObj[0].Buyer}} to {{obj.RowObj[0].Supplier}} . As per
                                the 20Cube Logistics's Order Management process and customers' mandate; you should be providing
                                the Cargo Ready details along with your remarks for the following Purchase order(s).
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 22px;width:640px" colspan="2">
                            <table style="margin-left: 20px;">
                                <tbody>
                                    <tr>
                                        <td colspan="2" style="padding:5px;  font-family:calibri;     font-size:14px;">
                                            <p align="justify">
                                                <a href="http://uat.20cube.myhublive.com/#/2OCu63/cf341efc4fb54023b9e848fb43f095a6">http://uat.20cube.myhublive.com/#/2OCu63/cf341efc4fb54023b9e848fb43f095a6</a>

                                                <br />(username and password not required)




                                                <br />
                                            </p>
                                            <p style="font-family:calibri;font-size:14px;">
                                                <b>Buyer



                                                    <span style="margin-left:16px;">:</span>
                                                </b>
                                                {{obj.RowObj[0].Buyer}}..,




                                                <br />
                                                <b>Supplier : </b>
                                                {{obj.RowObj[0].Supplier}}.,




                                                <br />
                                                <br />
                                                <table style="width:600px;border:1px solid black;border-collapse:collapse">
                                                    <tbody>
                                                        <tr>
                                                            <th style="border:1px solid black;border-collapse:collapse">Order No</th>
                                                            <th style="border:1px solid black;border-collapse:collapse">Order Date </th>
                                                            <th style="border:1px solid black;border-collapse:collapse">Mode</th>
                                                            <th style="border:1px solid black;border-collapse:collapse">Term </th>
                                                            <th style="border:1px solid black;border-collapse:collapse">Req. In Store</th>
                                                            <th style="border:1px solid black;border-collapse:collapse">Req. Ex Works</th>
                                                        </tr>
                                                        <tr ng-repeat="x in obj.RowObj">
                                                            <td style="border:1px solid black;border-collapse:collapse">{{x.OrderNo}}</td>
                                                            <td style="border:1px solid black;border-collapse:collapse">{{x.OrderDate | date : "dd-MMM-yyyy"}}</td>
                                                            <td style="border:1px solid black;border-collapse:collapse">{{x.TransportMode}}</td>
                                                            <td style="border:1px solid black;border-collapse:collapse">{{x.IncoTerm}}</td>
                                                            <td style="border:1px solid black;border-collapse:collapse">{{x.RequiredDeliveryDate | date : "dd-MMM-yyyy"}}</td>
                                                            <td style="border:1px solid black;border-collapse:collapse">{{x.RequiredExWorksDate | date : "dd-MMM-yyyy"}}</td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                                <!-- <xsl:value-of select="TableStructure" disable-output-escaping="yes" /> -->
                                            </p>
                                            <p style=" font-family:Arial;">
                                                <b style="font-family:calibri;     font-size:14px;"> Customer Service Comments: </b>
                                                <br /> Test
                                                <!-- <xsl:value-of select="Content" /> -->
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;color:#666;padding:0 20px 20px 20px;line-height:16px;width:640px" colspan="2">
                            <table cellspacing="0" cellpadding="0" border="0" align="left" style="border-top:1px dashed #ccc; border-left:solid 1px #e6e6e6; border-right:solid 1px #e6e6e6; background:#f9f9f9;">
                                <tbody>
                                    <tr>
                                        <td valign="top" align="left" style="padding:5px 5px 5px 0px;margin:0;">
                                            <p style="padding:0;margin:0 0 7px 25px;font-size:15px;color:#565656">Please Note :</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px;">
                                            <ul>
                                                <li>This is an electronically generated Email and does not require any signature.
                                                </li>
                                                <li>The link in this mail can be accessed only 3 times as per Security policy.If
                                                    you need to access this data for ever, we request you to login MyHub(




                                                    <a target="_blank" href="http://uat.20Cube.myhublive.com/">
                                                        <span>http://uat.20Cube.myhublive.com/</span>
                                                    </a>).




                                                </li>
                                                <li>All terms and conditions are as given on portal</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" cellspacing="0" cellpadding="0" style="border-left:solid 1px #e6e6e6;border-right:solid 1px #e6e6e6;border-bottom:solid 1px #e6e6e6;">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top" bgcolor="" align="center" style="text-align:center;background-color:#f9f9f9;display:block;margin:0 auto;clear:both;padding:0px 40px 15px 40px">
                                                            <p style="padding:10px 0 0 0;margin:0;border-top:solid 1px #cccccc;font-size:11px;color:#565656">
                                                                <a target="_blank" style="color:#006699;text-decoration:none" href="http://www.20cube.com/">
                                                                    <span>20Cube Logistics</span>
                                                                </a> |




                                                                <a target="_blank" style="color:#006699;text-decoration:none" href="http://uat.20cube.myhublive.com/">
                                                                    <span>MyHub</span>
                                                                </a> |




                                                                <a target="_blank" style="color:#006699;text-decoration:none" href="http://www.20cube.com/resources/privacy-policy.html">
                                                                    <span>Privacy</span>
                                                                </a> |




                                                                <a target="_blank" style="color:#006699;text-decoration:none" href="http://www.20cube.com/resources/terms-of-use.html">
                                                                    <span>Term of Use</span>
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>