.dropdown.comment-access-dropdown-menu {
    font-size: 20px;
    margin-left: 15px;
}

.comments-list-container .sidebar-wrapper ul li {
    padding: 10px 20px;
    padding-right: 60px;
    position: relative;
}

.comments-list-container .sidebar-wrapper .attach-icon {
    font-size: 22px;
    color: #337ab7;
    position: absolute;
    right: 40px;
    top: 9px;
}

.sm-comment-wrapper {
    font-size: 12px;
}

.sm-comment-table {
    width: 100%;
}

.sm-comment-table thead {
    background-color: #f5f5f5;
}

.sm-comment-table tbody tr {
    cursor: pointer;
}

.sm-comment-table tr th,
.sm-comment-table tr td {
    vertical-align: middle;
    padding: 7px 10px;
    max-width: 100px;
}
