<div class="clearfix mt-10 no-padding">
    <div class="clearfix form-group col-lg-12 no-padding">
        <div class="col-lg-9 no-padding">
            <textarea rows="2" class="form-control no-resize" ng-model="AddCommentCtrl.ePage.Masters.ActiveComment.Comments" placeholder="Add your Comments Here..."></textarea>
        </div>
        <div class="col-lg-3 no-padding">
            <button class="btn btn-default  btn-upload btn-sm ml-10" data-ng-click="AddCommentCtrl.ePage.Masters.SaveComment()" data-ng-bind="AddCommentCtrl.ePage.Masters.SaveBtnText"
                data-ng-disabled="AddCommentCtrl.ePage.Masters.IsDisableSaveBtn"></button>
        </div>
    </div>
</div>
<div class="clearfix col-lg-12 mt-10 no-padding">
    <div class="clearfix" data-ng-if="AddCommentCtrl.ePage.Masters.IsLoading">
        <div class="pl-100 pr-100">
            <div class="clearfix p-5">
                <div class="pull-left">
                    <span>{{AddCommentCtrl.ePage.Masters.ActiveComment.Comments}}</span>
                </div>
                <div class="meter">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" data-ng-if="AddCommentCtrl.ePage.Masters.IsShowRecords">
        <div class="clearfix p-5">
            <div class="col-lg-6 no-padding">
                <div class="col-lg-12 no-padding fs-12" style="color: #7f7979;font-weight: 600;">
                    <span>{{AddCommentCtrl.ePage.Masters.ListSource[0].Comments}}</span>
                </div>
            </div>
        </div>
    </div>
</div>